:javascript

  $(document).ready(function(){

    function changeClass(){
      $('#hideMenu').addClass('hide');
    }
    $('.select-sub-category').click(changeClass);

    function showClass(){
      $('#hideMenu').removeClass('hide');
    }
    $('.nav-browser').mouseenter(showClass);



    function remOpacity(){
      $('#box').removeClass('dimmed');
    }
    $('.opacity').mouseenter(remOpacity);

    function addOpacity(){
      $('#box').addClass('dimmed');
    }
    $('.opacity').mouseout(addOpacity);





    $("div#enterleave-2").bind("mouseenter",function(){
      $("div.two",this).removeClass("dimmed");
      $("div#enterleave-1").addClass("dimmed");

    }).bind("mouseleave",function(){
      $("div.two",this).addClass("dimmed");
      $("div#enterleave-1").removeClass("dimmed");

    });





  });
.ribbon-container
  %h1 This would be really cool banner that looks like a ribbon.
  .shadow

.ribbon-container.arrow-end
  %h1 This would be really cool banner that looks like a ribbon.
  .shadow


%div#enterleave-1{style: "clear:left;float:left;position:relative;"}
  %div.in.one
    %div.inside
      %ul
        %li Now that there is the Tec-9, a crappy spray gun from South Miami.
        %li This gun is advertised as the most popular gun in American crime.
        %li Do you believe that shit? It actually says that in the little book that comes with it:
        %li the most popular gun in American crime. Like they're actually proud of that shit.


%div#enterleave-2{style: "float:left;position:relative;clear:left;"}
  %div.in.two.dimmed
    %div.inside
      %ul
        %li Now that there is the Tec-9, a crappy spray gun from South Miami.
        %li This gun is advertised as the most popular gun in American crime.
        %li Do you believe that shit? It actually says that in the little book that comes with it:
        %li the most popular gun in American crime. Like they're actually proud of that shit.
        
        
        
