!!! 5
%html
  %head
    %title="#{@title} | Test"
    %link{href: "normalize.css", rel: "stylesheet"}
    %link{href: "stylesheet.css", rel: "stylesheet"}
    %script{src: "/ie_hack.js", type: "text/javascript"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"}



    /[if lte IE 8]
      %script{src: "/excanvas.js", type: "text/javascript" }
      %link{href: "stylesheet_ie.css", rel: "stylesheet"}
  %body#body_bg
    #wrapper
      %ul
        %li
          %a{href: "/"} Home
        %li
          %a{href: "/page"} Page
        %li
          %a{href: "/slider"} Slider
        %li
          %a{href: "/nav"} Nav

      =yield