// Import files
@import "colors";
@import "mixins";

div, ul, li, ol, a{
  margin:0;
  padding:0;
}


#body_bg{
  background-image:
    url(/images/photo1.jpg),
    url(/images/photo2.jpg),
    url(/images/photo3.jpg)
    ;
    background-repeat:no-repeat;
    background-position:
      top left,
      top right,
      bottom center
    ;
}

//just for sinatra fun!
#wrapper{
    display:block;
    margin:10px auto;
    width:900px;
}

.nav-browser{
  @include float;
  left:350px;
  line-height:22px;
  top:50px;
  z-index:200;
}

.nav-browser ul li{display:block;}

.nav-browser ul li a{
  background-color:$lightgray;
  color:$charcoal;
  height:25px;

  display:block;
  line-height:21px;
  white-space:nowrap;

}

.nav-browser ul ul {
  @include float(left, absolute);
  @include rounded(5px);
  border:35px solid rgba(0,0,0,0.1);
  background-clip        : content-box;
  -moz-background-clip   : content;
  -webkit-background-clip: content;
  left:0px;
  line-height:1em;
  margin-top:-35px;
  padding:0;

  position:relative;

  transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  opacity:0;
  visibility:hidden;
  li{
    margin:5px 0;
    a{
      background-color:transparent;
      color:$elocalBlue;
      &:hover{
        color:$elocalOrange;
      }
    }
  }
}


.nav-browser ul ul ul{
  @include float(left, absolute);
  @include rounded(5px);
  border:{
    left:5px solid rgba(0,0,0,0.1);
    right:35px solid rgba(0,0,0,0.1);
    top:35px solid rgba(0,0,0,0.1);
    bottom:35px solid rgba(0,0,0,0.1);
  }  background-clip        : content-box;
  -moz-background-clip   : content;
  -webkit-background-clip: content;
  left:50px;
  line-height:1em;
  margin-top:-65px;
  padding:0;

  position:relative;

  transition:all .25s ease-in-out;
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  opacity:0;
  visibility:hidden;
  li{
    margin:5px 0;
  }
}




 .nav-browser ul li ul li .child-list-menu{
  @include float(left, absolute);
  border:{
    left:5px solid rgba(0,0,0,0.1);
    right:35px solid rgba(0,0,0,0.1);
    top:35px solid rgba(0,0,0,0.1);
    bottom:35px solid rgba(0,0,0,0.1);
  }
  background-clip        : content-box;
  -moz-background-clip   : content;
  -webkit-background-clip: content;
  left:110px;
  transition:all .35s ease-in-out;
  -webkit-transition:all .35s ease-in-out;
  -moz-transition:all .35s ease-in-out;
  -o-transition:all .35s ease-in-out;
  opacity:0;
  margin-top:-65px;
  visibility:hidden;

 }
.nav-browser ul li:hover > ul {
  left:20px;
  opacity:1;
  visibility:visible;
  li{
    display:block;
  }
}

.nav-browser ul li:hover > ul li:hover > ul {
  left:70px;
  opacity:1;
  visibility:visible;
  li{
    display:block;
  }
}

.nav-browser ul li:hover >ul li:hover > .child-list-menu {
  left:120px;
  opacity:1;
  visibility:visible;

}
.child-list{
  @include float;
  width:145px;
}


.container-div{
  background-color:$white;
  border:1px solid $elocalBlue;
  @include rounded(5px);
  // @include float;
  padding:5px 0;
  // z-index:3000;
  &.widget{
    padding:5px;
  }
  &.overflow{
    overflow:hidden;
  }
}
.shadow-browser {@include boxshadow(2px, 3px, 5px, $charcoal);}


.hide{
  display:none;
  visibility:hidden;
}


#div{
  color:#fff;
  display:block;
  width:200px;
  #box{
    background-color:#333;
    display:block;
    overflow:hidden;
    p{
      margin:0;
      padding:20px;
      float:left;
      position:relative;
      display:block;
    }
  }
}
.in{
  float:left;
  background-color:#000;
  color:#ffffff;
  display:block;
  width:200px;
  .inside{
    background-color:#f00;
    margin:20px;
  }
}


.dimmed{
    opacity:.5;
    filter: alpha(opacity=50);
}



#my{
    border:1px solid #FF0;
    height:500px;
    width:500px;
}


/*---------------------------*/

  #container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-top: 5.85em;
    padding-left: 1.8em;
    background: url('images/iPhone.png') top left no-repeat;
    width: 300px;
    height: 504px;
    position: relative;
    overflow: hidden;
    text-align: left;
  }

    .binder {
      background: #e8e8e8;
      float: left;
      width: 247px;
      height: 370px;
      position: relative;
      overflow: hidden;
    }

    .header {
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAB8C9), to(#6E84A2), color-stop(.5,#6E84A2));
      background: -moz-linear-gradient(0% 65% 90deg,#6E84A2, #AAB8C9, #AAB8C9 100%);
      font-size: 14px;
      color: #fff;
      height: 30px;
      padding: 0 10px;
      text-shadow: 0px 1px 0px #000;
      text-align: center;
      position: relative;
    }

    .additional-block {
      float: left;
      width: 247px;
      height: 370px;
      position: absolute;
    }

    .menu li:hover {
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4185F4), to(#194FDB), color-stop(.6,#194FDB));
      background: -moz-linear-gradient(0% 65% 90deg,#194FDB, #4185F4, #4185f4 100%);
      cursor: pointer;
    }

    .menu li:hover a.has-child {
      background: url('images/arrow-hover.png') center right no-repeat;
    }

    .menu li a {
      display: block;
      width: 227px;
    }

    .menu li:hover a {
      color: #fff;
      text-shadow: 0px 1px 0px #000;
    }

    .has-child {
      background: url('images/arrow.png') center right no-repeat;
    }

    .has-child:hover {
      background: url('images/arrow-hover.png') center right no-repeat;
    }

    .back {
      margin-top: .5em;
      background: url('images/prev.png') bottom left no-repeat;
      position: absolute;
      display: block;
      height: 15px;
      width: 10px;
      cursor: pointer;
    }

    .biodata {
      margin-left: 10px;
      font-size: 12px;
    }

    .info {
      color: #fff;
      position: absolute;
      text-align: right;
      width: 400px;
      margin-top: 15%;
      font-size: 40px;
      font-weight: bold;
      line-height: .9em;
      text-shadow: 0px 2px 0px #000;
    }

      .info a, .info a:visited, .info a:hover {
        color: #fff;
      }



      .js-nav{
        ul{
          @include float;
          top:220px;
          &.children{
            display:none;
            position:absolute;
            top:15px;
            opacity:0;
          }
          li{
            background-color:#f2f2f2;
            list-style:none;
            display:inline-block;
            padding:0 20px;
            height:30px;
            width:50px;
            a{
              color:$charcoal;
              text-decoration:none;
              &:hover{
                color:$elocalOrange;
              }
            }
          }
        }

      }

nav.rib {
	@include float;
	width:100%;
	text-align:center;
}
.ribbon {
	@include float;
	margin:10px auto;
}
.ribbon:after, .ribbon:before {
    margin-top:0.5em;
    content: "";
    float:left;
    border:1.5em solid $elocalOrange;
}

.ribbon:after {
    border-right-color:transparent;
}

.ribbon:before {
    border-left-color:transparent;
}
.ribbon a:link, .ribbon a:visited { 
	    color:#000;
	    text-decoration:none;
	    float:left;
	    height:3.5em;
	    overflow:hidden;
}
.ribbon span {
  @include transitions(.5s ease);
	background:$elocalOrange;
   	display:inline-block;
   	line-height:3em;
   	padding:0 1em;
   	margin-top:0.5em;
   	position:relative;
}

.ribbon a:hover span {
    background:#FFD204;
    margin-top:0;
}

.ribbon span:before {
    content: "";
    position:absolute;
    top:3em;
    left:0;
    border-right:1em solid #9B8651;
    border-bottom:0.5em solid $elocalOrange;
}

.ribbon span:after {
    content: "";
    position:absolute;
    top:3em;
    right:0;
    border-left:0.5em solid #9B8651;
    border-bottom:0.5em solid $elocalOrange;
}

.ribbon-container {
	@include float;
	margin:				20px 0;
	width:				100%;
	h1 {
		@include float;
		background: 	$elocalBlue;
		color:			rgba($elocalBlue, .75);
		display:		block;
		height:			4em;
		line-height:	3.75em;
		text:{
			align:		center;
			shadow:		1px 1px 0 lighten($elocalBlue, 5),-1px -1px 0 darken($elocalBlue, 5) ;  }
		width:			100%;
		z-index:		102;
	&:before {
		border-right:	1em solid darken($elocalBlue, 10);
	    border-bottom:	1em solid $white;
		content:    	"";
		position:		absolute;
		left:			0;
		top:			4em;
		z-index:		100;  }
	&:after {
		border-left:	1em solid darken($elocalBlue, 10);
	    border-bottom:	1em solid $white;
		content:    	"";
		position:		absolute;
		right:			0;
		top:			4em;
		z-index:		100;  }  }
	.shadow {
		@include boxshadow(0px, 2px, 25px, darken($elocalBlue, 15));
		@include float;
		height:			5px;
		top:			-1.65em;
		left:			10px;
		display:		block;
		width:			98%;
		z-index:		101;	}
}

.arrow-end {
	width:				80%;
	h1 {
		font-size:		1.6em;  }
	h1:after {
		border:			2em solid $elocalBlue;
		content:		"";  
		right:			-4em;
		top:			0;  }
	h1:after { 
		border-right-color:transparent;  }  }

#moving {
  @include float;
  @include animation;
  background-color: red;
  display:block;
  height:100px;
  width:100px;
  z-index: 2000;
  @extend %cool;
}

@include keyframes(myAni) {
  0%  {top:0px; opacity: .1; }
  50%    {top:200px; opacity: 1; width:200px; background-color:red;}
  100%    {top:0px; opacity: .1;}
}

@import "silent-killa";